$plot_bg: white;
$plot_border_color: #333;
$plot_title_color: #555;
$plot_title_bg: transparent;

.log-controller {
  position: relative;
  user-select: none;
  flex: 1 1 0%;
  flex-direction: row;
  display: flex;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: $plot_bg;
  pointer-events: none;
  overflow: hidden;
  .track {
    border-right: 1px solid $plot_border_color;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    .track-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      font-weight: bold;
      overflow: hidden;
      background-color: $plot_title_bg;
      color: $plot_title_color;
      text-align: center;
      text-anchor: middle;
      white-space: nowrap;
      border-bottom: 1px solid $plot_border_color;
      pointer-events: auto;
      cursor: help;
    }
    .track-legend {
      pointer-events: all;
      overflow: hidden;
      border-bottom: 1px solid $plot_border_color;
    }
    .track-container {
      flex: 1 1 auto;
      overflow: hidden;
      canvas,svg {
        overflow: hidden;
      }
    }
  }
  .track:last-child {
    border-right: none;
  }
  .track .error {
    background: repeating-linear-gradient(
      -45deg,
      #f99,
      #f99 10px,
      #fff 10px,
      #fff 20px
    );
  }
  .overlay {
    pointer-events: auto;
    min-height: 0;
    position: absolute;
    z-index: 200;
  }

  .hidden {
    display: none !important;
  }
}

.log-controller.horizontal {
  flex-direction: column;
  .track {
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid $plot_border_color;
    .track-title {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      border-bottom: none;
      border-left: 1px solid $plot_border_color;
    }
    .track-legend {
      border-bottom: none;
      border-right: 1px solid $plot_border_color;
    }
  }
  .track:last-child {
    border-bottom: none;
  }
}
