$plot_bg: white;
$plot_border_color: #333;
$plot_title_color: black;
$plot_title_bg: #ccc;


.well-log {
  user-select: none;
  flex: 1 1 auto;
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  min-height: 500px;
  pointer-events: none;
  .main-group {
    flex: 1 1 auto;
    position: relative;
    display: flex;
  }
  .tracks-group {
    min-height: 0;
    display: flex;
    flex: 1 1 auto;
    background-color: $plot_bg;
    .track {
      border-right: 1.3px solid $plot_border_color;
      overflow: hidden;
      padding: 0;
      display: flex;
      flex-direction: column;
      .track-title {
        background-color: $plot_title_bg;
        color: $plot_title_color;
        text-align: center;
        text-anchor: middle;
        white-space: nowrap;
        border-bottom: 1px solid $plot_border_color;
        padding: 0 1px 0 1px;
        pointer-events: auto;
        cursor: help;
      }
      .track-legend {
        border-bottom: 1px solid $plot_border_color;
      }
      .track-plot {
        flex: 1 1 auto;
        overflow: hidden;
      }
    }
    .tracks-group .track:last-child {
      border-right: none;
    }
  }
  .overlay {
    pointer-events: auto;
    min-height: 0;
    position: absolute;
    /*background-color: rgba(127, 255, 127, 0.1);*/
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.rubber-band {
  stroke: rgba(255, 0, 0, 0.1);
  fill: rgba(255, 0, 0, 0.7);
}


@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.track .loader {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track .loader .loading-dots {
  animation: dot-keyframes 0.6s infinite ease-in-out;
  background-color: #eee;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 0;
}

.track .loader :nth-child(2) {
  animation-delay: .2s;
}

.track .loader :nth-child(1) {
  animation-delay: .4s;
}

.hidden {
  display: none !important;
}


