@import '../../../src/styles.scss';

html {
  height: 100%;
  body {
    height: 96%;
    #root {
      height: 100%;
      .track-group {
        height: 100%;
      }
    }
  }
}

.wellog {
  .track {
    .track-title {
      background-color: #ccc;
      font-weight: normal;
      color: black;
      font-family: inherit;
    }
  }
}
